/* Font */

body {
  Font-Family: 'Merriweather', serif;
}

h1, h2, h3, h4, h5, h6, #navbarNav li {
  Font-Family: 'Raleway', sans-serif;
  font-weight: 800;
}

#topBanner h1, #navbarNav li, #blogcarouselslider h3, #topCategories h3 {
  text-transform: uppercase;
}

/* Colors */
.bg-dark {
  background-color: #230007 !important;
}

.bg-theme {
  background-color: #A31621;
}

.bg-theme-faded {
  background-color: #69140E;
  color: #DDD8C4;
}

a.card-blog{
  color: #212529;
  text-decoration: none;
}

a.card-blog:hover {
  background-color: #A31621;
  color: #DDD8C4;
  text-decoration: none;
}

a.card-blog:hover > .card-body > .card-text > .text-muted {
  color: #EEF4D4 !important;
}

.list-group-item-action:focus, .list-group-item-action:hover {
  color: #230007;
  background-color:#DDD8C4;
}

a.card-categories{
  color: #fff;
  text-decoration: none;
}

a.card-categories:hover{
  color: #DDD8C4;
  text-decoration: none;
}

a.card-categories:hover > .card-img-overlay {
  outline: 1px solid #DDD8C4;
  outline-offset: -5px;
}



/* Header */
#topBanner {
  width: 100%;
  height: auto;
  background: url('../img/banner.jpeg') no-repeat;
  background-size: 100%;
}

/* Carousel */
#blogcarouselslider .carousel-caption {
  background-color: rgba(0,0,0,0.6);
}

#blogcarouselslider .carousel-indicators {
  padding-bottom: 10px;
}

#blogcarouselslider .carousel-caption:hover {
  text-decoration: none;
  color: rgba(35, 0, 7, 0.8);
  background-color: rgba(221, 216, 196, 0.6);
}

#blogcarouselslider .carousel-indicators > li:hover {
  cursor: pointer;
}


/* Blogposts */
.black-card-border {
  background-color: #69140E;
  border: 2px solid #69140E;
}

.card-img-overlay {
  background:rgba(105, 20, 14, 0.35);
  outline: 1px solid #fff;
  outline-offset: -15px;
}


/* Responsive */
@media screen and (max-width: 992px) {
  /* Carousel */
  .carousel-item > img {
    border-radius: 0.25rem;
  }
 
  /* Card & List */
  .card-title, .list-title {
    font-size: 0.95em;
  }
  
  .card-text, .list-text {
    font-size: 0.75em;
  }

}

@media screen and (min-width: 768px) {
  /* Carousel */
  .carousel-item > img {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
 
  /* Sidebar */
  .list-group-item:first-child {
    border-top-left-radius: 0rem;
  }

}

@media screen and  (max-width: 575px) {
  /* Categories */
  .card-categories-body > .card-title {
    font-size: 1.85rem;
  }

  .card-categories-body > .card-text {
    font-size: 1.15rem;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  /* Categories */
  .card-categories-body > .card-title {
    font-size: 0.8rem;
  }

  .card-categories-body > .card-text {
    font-size: 0.55rem;
  }
}

