#topBanner {
  width: 100%;
  height: auto;
  background: url('../img/banner.jpeg') no-repeat;
  background-size: 100%;
}

#blogcarouselslider .carousel-caption {
  background-color: rgba(0,0,0,0.6);
}

#blogcarouselslider .carousel-indicators {
  padding-bottom: 10px;
}

.black-card-border {
  background-color: #000;
  border: 2px solid rgba(0,0,0,0.6);
}

.card-img-overlay {
  background:rgba(0,0,0,0.6);
  outline: 1px solid #fff;
  outline-offset: -15px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .card-title {
    font-size: 0.95em;
  }

  .card-text {
    font-size: 0.75em;
  }
}

@media screen and (max-width: 374px){
  .card-title {
    font-size: 0.95em;
  }

  .card-text {
    font-size: 0.75em;
  }
}


